.lrcounter_simplebox{
	z-index: 1000000 !important;
}
.lrsharecontainer{
	z-index: 1000000 !important;
}
.loginRadiusHorizontalSharing{
	z-index: 1000000 !important;
}
.loginRadiusVerticalSharing{
	z-index: 1000000 !important;
}