
/*Widget*/
.lr_ver_share_widget{
	position: relative !important;
}

/*====================
	Sharing Front
=======================*/

div.lrcounter-vertical-horizontal table {
	width: auto;
}

.lrshare_right {
	float: right;
}
.lrshare_left{
	float: left;
}